@page
@model SocialCards.Pages.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
        .card {
          display: grid;
          grid-template-columns: 1.75fr 1fr;
          grid-template-rows: 1fr;
          gap: 0px 0px;
          grid-template-areas:
            ". .";
        }
        
        .title {             
            grid-area: 1 / 1 / 2;
            display: flex;
            flex-flow: column;
            justify-content: center; /* center horizontal */
            align-items: center; 
            /* pattern */
            background-color: #452401;
            opacity: 1;
            background-image: radial-gradient(#452401 2px);
            background-size: 80px 80px;
            background-position: 0 0,40px 40px;
        }
        
        .title p {
            width: auto;
            font-size: 8rem;
            color: black;
            font-weight: bold;
            font-family: "Futura";    
            text-shadow: 4px #ffffff; 
            padding-left: 35px;    
        }
        .title small.author {
            display: block;
            font-size: 2rem;
            color: #ffffff;
            font-style: italic;
            text-shadow: 2px 2px #444144;   
            text-align: right; 
            padding-right: 50px 
        }
        .background { 
            height: 100vh;
            background-image: url(@Model.BackgroundUrl);
            background-position: center center;
            background-size: cover;
            grid-area: 1 / 2 / 2 / 3;
        }
    </style>
</head>
<body>
<section class="card">
    <div class="title">
        <p>
            @Model.Title
            <small class="author">
                by Elahn Danee
                <br>
                Inspired by Khalid Abuhakmeh
                <br>
                twitter: @@codethlightning
                <br>
                youtube: Danee the Developer
            </small>
        </p>
    </div>
    
    <div class="background">
        
    </div>
</section>
</body>
</html>